   <div class="container text-white u-ver-center u-content-space">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center">
          <p class="h6 text-uppercase u-letter-spacing-sm mb-0">A beautiful Open Source Bootstrap 4 UI Kit!</p>
          <h1 class="display-2 display-md-1 u-font-accent font-weight-light">Stream <span class="d-none d-md-inline-block">-</span> UI Kit</h1>
          <a href="#js-scroll-to-section" class="text-uppercase text-white font-weight-bold u-font-size-75">お店を探す</a>
          <span class="fa fa-angle-down d-block"></span>
        </div>
      </div>
    </div>
  </div>
